body {
  background-image: url('imagens/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 900px;
    width: 90%;
    overflow-x: auto;
    margin: 10 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

th {
    background-color: #444;
}

img {
    width: 400px;
    margin-bottom: 10px;
    animation: pulse 3s infinite cubic-bezier(0.2, 0.7, 0.8, 0.2);
}

.expired {
    color: red;
    font-weight: bold;
}

.back-button {
    background-color: #4bc995;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.back-button .fa {
    margin-right: 5px;
}

#searchInput {
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

tr:hover {
    background-color: #4bc994a1;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

tr {
    cursor: pointer;
}

tr:hover .edit-icon {
    display: inline;
    color: rgb(0, 175, 117);
}

.edit-icon {
    display: none;
    font-size: 18px;
    cursor: pointer;
    color: #00aa69;
}

tr.selected .edit-icon {
    display: inline;
}

/* Adicione mais estilos personalizados conforme necessário */


/* Estilo para o contêiner do menu de navegação */
.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100px; /* Altura máxima desejada */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27272749; /* Cor de fundo da faixa */
  border-top: 3px solid #00000077; /* Borda superior personalizada */
  border-left: 1px solid #0000004b; /* Borda esquerda */
  border-right: 1px solid #0000004b; /* Borda direita */
  border-bottom: 1px solid #0000004b; /* Borda inferior */

  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.7); /* Adicione box-shadow para uma leve sombra */
  backdrop-filter: blur(10px); /* Adicione um efeito de desfoque ao plano de fundo do container */

}

/* Estilo para o menu de navegação */
.navigation-menu {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para os botões do menu de navegação */
.BotaoNavigation {
    background-color: #4bc994c0; /* Cor de fundo azul */
    border: 3px solid #51d39d; /* Contorno azul */
    border-radius: 5px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto branco */
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px; /* Espaçamento interno */
    text-decoration: none;
    cursor: pointer;
    margin: 5px; /* Espaçamento entre botões */
    transition: background-color 0.3s ease-in-out; /* Efeito de transição suave */
}

/* Estilo para hover (quando o mouse passa por cima) */
.BotaoNavigation:hover {
    background-color: #0056b3; /* Cor mais escura quando hover */
}


/* Estilo para a última classe de botão no menu */
.BotaoNavigation:last-child {
    margin-right: 0;
}


/* Checkbox */
.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-1 [type=checkbox].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
  background-color: #3bfca2;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
  background-color: #10be76;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
  background-color: #444;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}


.delete-expired-container {
  margin-top: 5px; /* Aumentei a margem superior */
  text-align: center;
}

.delete-expired-button {
  background-color: #ff4d4d; /* Cor de fundo avermelhada mais suave */
  color: white; /* Cor do texto em branco */
  padding: 10px 20px; /* Aumentei o tamanho do botão */
  font-size: 20px; /* Tamanho da fonte maior */
  border: none;
  border-radius: 8px; /* Bordas mais arredondadas */
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionei um leve efeito de sombra */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Efeito de transição suave para a cor de fundo e sombra */
}

.delete-expired-button:hover {
  background-color: #e60000; /* Tom mais escuro ao passar o mouse */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra mais intenso ao passar o mouse */
}


/* Estilos para o pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #333; /* Cor de fundo do pop-up */
  color: #fff; /* Cor do texto do pop-up */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  width: 300px;
}

.popup-content p {
  text-align: center; /* Centralizar o texto */
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff; /* Cor do ícone de fechar */
}